(
    os: "amazonlinux",
    codename: {
        "current": (
            variant: {
                "default": (
                    arch: {
                        "amd64": (
                            tags: {"2023-03-28 05:09": (type: "tar.xz", digest: (algorithm: "sha256", hex: "fa7e467c4ff8eb2f8854fcffe20064ca4e8eb52037df65cedf2fe2701cec973c"), size: (bytes: 55850704, str: "53.26 MiB"), path: "images/amazonlinux/current/amd64/default/20230328_05:09/rootfs.tar.xz"), "2023-03-29 05:09": (type: "tar.xz", digest: (algorithm: "sha256", hex: "ad5b8de8e74468ebba5458a1a31e91dec5972befff8ca003ff2a576909fe35fd"), size: (bytes: 55853624, str: "53.27 MiB"), path: "images/amazonlinux/current/amd64/default/20230329_05:09/rootfs.tar.xz"), "2023-03-30 05:09": (type: "tar.xz", digest: (algorithm: "sha256", hex: "10ea6fb6dc2f7144341a7059307c8fa58f90d7bd88e343b94c7b009cb4d331e1"), size: (bytes: 55873148, str: "53.28 MiB"), path: "images/amazonlinux/current/amd64/default/20230330_05:09/rootfs.tar.xz")},
                        ),
                        "arm64": (
                            tags: {"2023-03-28 05:47": (type: "tar.xz", digest: (algorithm: "sha256", hex: "a8097d028e98f52ee27bc1cf3fcd2ef9406ac9e0eb0e495d74aeb5c4ce5475c5"), size: (bytes: 56483116, str: "53.87 MiB"), path: "images/amazonlinux/current/arm64/default/20230328_05:47/rootfs.tar.xz"), "2023-03-29 05:09": (type: "tar.xz", digest: (algorithm: "sha256", hex: "a82606c8871751be8bf36003543d13ff63bea28c7b4fa82174729c0ea6c25de4"), size: (bytes: 56201648, str: "53.60 MiB"), path: "images/amazonlinux/current/arm64/default/20230329_05:09/rootfs.tar.xz"), "2023-03-30 05:09": (type: "tar.xz", digest: (algorithm: "sha256", hex: "d0bdc9c0ef82b60172178f4d3116bfa588af34889bef498129ac565cdf5cc117"), size: (bytes: 56226328, str: "53.62 MiB"), path: "images/amazonlinux/current/arm64/default/20230330_05:09/rootfs.tar.xz")},
                        ),
                    },
                ),
            },
        ),
    },
)